Com.DanLiris.Service.Purchasing.Lib/bin
Com.DanLiris.Service.Purchasing.Lib/obj
Com.DanLiris.Service.Purchasing.WebApi/bin
Com.DanLiris.Service.Purchasing.WebApi/obj
Com.DanLiris.Service.Purchasing.WebApi/appsettings.json
Com.DanLiris.Service.Purchasing.WebApi/Properties/launchSettings.json